{% extends "framework/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'framework/css/style.css' %}">
  </head>
  <body>
    <div id = "wrapper">
      {% block content %}
      {% autoescape off %}
        <div class="textbox wide">
          <img src="/static/framework/images/ely_logo.png">
          <p>{{about.text}}</p>
        </div>
      {% endautoescape %}
      {% endblock %}
    </div>
  </body>
</html>
