{% extends "framework/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{character.name}}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'framework/css/style.css' %}">
  </head>
  <body>
    <div id = "wrapper">
      {% block content %}
        <div class="container characterbios">
          <a href="/characters"><img class="personbox bio" src="/static/framework/images/{{character.image}}"></a>
          <div class="personbox bio">
            {% autoescape off %}
              <p>Name: {{character.name}}</p>
              <p>Age: {{character.age}}</p>
              <p>Occupation: {{character.occupation}}</p>
              <p>Bio: {{character.bio}}</p>
            {% endautoescape %}
          </div>
        </div>
      {% endblock %}
    </div>
  </body>
</html>
