{% extends "framework/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'framework/css/style.css' %}">
  </head>
  <body>
    <div id = "wrapper">
      {% block content %}
        {% autoescape off %}
          {% for announcement in announcements %}
          <div class="textbox wide">
            <h1>{{announcement.title}}</h1>
            <p>Posted by {{announcement.author}} on {{announcement.updated_at}}</p>
            <p>{{announcement.text}}</p>
          </div>
        {% endfor %}
        {% endautoescape %}
      {% endblock %}
      </div>
    </div>
  </body>
</html>
